<div class="layout-topbar align-content-center">
  <div class="layout-topbar-top">
    <div class="layout-topbar-logo gap-2">

    </div>

    <div class="flex align-items-center gap-2">
      <span>{{ username }}</span>
      <p-avatar
        [label]="initialsName"
        styleClass="mr-2"
        size="normal"
        shape="circle"
        [style]="{ 'background-color': '#2DB3AE', 'color': '#ffffff', 'font-weight': 'bold' }"
      ></p-avatar>

      <p-divider layout="vertical"/>

      <p-button label="Sair" [text]="true"  />
    </div>

  </div>
</div>
