.custom-header {
  background-color: #ffffff;
  font-size: 1rem;
  font-weight: inherit;
}

.custom-body {
  font-size: 0.875rem
}

.status-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;

  &.pago-sim {
  background-color: green;
  color: white;
}

  &.pago-nao {
    background-color: red;
    color: white;
  }
}


